@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Montserrat:wght@500&family=Open+Sans:ital,wght@0,500;1,800&family=Poppins:ital,wght@1,900&family=Roboto+Slab:wght@700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.header{
    width: 100%;
    min-height: 3rem;
    padding: 1.5em 2em;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo{
    font-size: 2rem;
    font-weight: 700;

}


.navbar a{
    font-weight: 500;
    margin-left: 4em;
    color: white;
}